{% load static %}
{% comment %} 
------------------------------------------------------------------------------
#-----------------------------------------------------------------------------
# Codes written by Amediku David for my project based internship @ CodSoft
# Credit for vendor files have been given to the respective authors.
#  
# ----------------------------------------------------------------------------
------------------------------------------------------------------------------
{% endcomment %}
<hr>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>BlogiCraft</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
</footer><!-- End Footer -->
  