{% extends "../dashboard.html" %}
{% load static %}
{% block dashboard %}
{% comment %} 
------------------------------------------------------------------------------
#-----------------------------------------------------------------------------
# Codes written by Amediku David for my project based internship @ CodSoft
# Credit for vendor files have been given to the respective authors.
#  
# ----------------------------------------------------------------------------
------------------------------------------------------------------------------
{% endcomment %}


{% include "./sidebar.html" %}

{% endblock dashboard %}
